.ir_maintitle{
    font-family: 'Yekan',SansSerif;
    text-decoration: none;
    font-size: xx-large;
    color:#086968;


}
.ir_nomargin{
    margin: 0px;
}
.ir_nopadding{
    padding: 0px;
}
.ir_header{
    /*background-color: #036b6e;*/
    background-image: linear-gradient( #036b6e,#30c5c3);
    height: 100px;
    margin: 0px;
    padding: 0px;

}

.ir_textOutline{
    -webkit-text-stroke: 1px #ffffff;
}
body{
    margin: 0px;
}
.ir_navItem{
    font-family: 'Yekan', SansSerif;
    font-size: small;
    color: #1d4a5c;
    text-decoration: none;
}
.ir_text1{
    font-family: 'Yekan', SansSerif;
    font-size: large;
    color: #15607b;
}
.ir_text2{
    font-family: 'Yekan', SansSerif;
    font-size: medium;
    color: #15607b;
}
.ir_text3{
    font-family: 'Yekan', SansSerif;
    font-size: small;
    color: #15607b;
}
.ir_br{
    border: #15607b solid 2px;
}
